.header {
    width: 100%;
    height: 5rem;
    padding: 0 8%;
    display: flex;
    background-color: #3c0080;
    align-items: center;
    justify-content: center;
}

.heading_container {
    text-decoration: none;
    cursor: pointer;
}

.header h2 {
    color: #ffffff;
}